@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager navManager
@*<style>
        .abc.top-row.px-4 {
            JUSTIFY-CONTENT: left;
        }
    </style>*@
<div class="sidebar">
    <NavMenu />
</div>

<div class="main main-right">
    <div class="top-row px-5">
        @*<LoginControl />*@
        <h4>Procurement Activity Manager</h4>
        <span class="welcome-user">
            <AuthorizeView>
                <Authorized>
                    <b>Welcome,</b> @context.User.Identity.Name!

                </Authorized>
            </AuthorizeView>
        </span>
    </div>

    <div class="content px-4">
        <AuthorizeView>
            <Authorized>
                @*<b>Hello, @context.User.Identity.Name!</b>
                    <a class="ml-md-auto btn btn-primary"
                       href="/logout?returnUrl=/"
                       target="_top">Logout</a>*@
                @Body
            </Authorized>
            <NotAuthorized>
                @*<input type="text"
                           placeholder="User Name"
                           @bind="@Username" />
                    &nbsp;&nbsp;
                    <input type="password"
                           placeholder="Password"
                           @bind="@Password" />
                    <a class="ml-md-auto btn btn-primary"
                       href="/login?paramUsername=@Username&paramPassword=@Password"
                       target="_top">Login</a>*@




                <div class="container">
                    <div class="row">
                        <div class="col-md-5 login-box-col mx-auto">
                            <div class="myform form ">
                                <div class="logo mb-3">
                                    <div class="col-md-12 text-center">
                                        <img src="/assests/pam_circletransparent.png" width="75" />
                                        <h1 class="welcome-title">Welcom to PAM</h1>
                                        <p class="login-sub-title">Please Login to continue</p>
                                    </div>
                                </div>
                                
                                <form name="login" class="login-form">
                                    @if (errorMessage != null)
                                    {
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong>Oh snap!</strong> @errorMessage
                                    </div>
                                       
                                    }

                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="form-label">User Name</label>
                                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email Address" @bind="@Username" />
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="form-label">Password</label>
                                        <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password" @bind="@Password" />
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class=" btn btn-block btn-primary login-btn tx-tfm">Login</button>
                                        @*<a class="btn btn-block mybtn btn-primary tx-tfm"
            href="/login?paramUsername=@Username&paramPassword=@Password"
            target="_top">Login</a>*@
                                    </div>
                                    <div class="form-group">
                                        <h3 class="info-title text-center">Problem accessing you account?</h3>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-center"><a href="#" class="link">Contact Support</a></p>
                                    </div>

                                    @*<div class="col-md-12 ">
            <div class="login-or">
                <hr class="hr-or">
                <span class="span-or">or</span>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <p class="text-center">
                <a href="javascript:void();" class="google btn mybtn">
                    <i class="fa fa-google-plus">
                    </i> Signup using Google
                </a>
            </p>
        </div>
        <div class="form-group">
            <p class="text-center">Don't have account? <a href="#" id="signup">Sign up here</a></p>
        </div>*@
                                </form>

                            </div>

                        </div>
                    </div>
                </div>


            </NotAuthorized>
        </AuthorizeView>

    </div>
</div>

@code {
    string Username = "";
    string Password = "";

    string errorMessage = null;

     protected override async Task OnInitializedAsync()
    {
         var uri = navManager.ToAbsoluteUri(navManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("name", out var param))
        {
            errorMessage = param.First();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeAsync<object>("ValidateLogin");
       
        // StateHasChanged();
    }


}